# =====================
# Dependencies
# =====================
node_modules/
.pnpm-store/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# =====================
# Build outputs
# =====================
dist/
build/
coverage/
.angular/

*.apk
*.ipa
*.app

# =====================
# Environment files
# =====================
.env
.env.local
.env.*.local

# =====================
# IDE / Editors
# =====================
.vscode/
.idea/
*.iml
*.swp
*.swo
*~

# =====================
# Logs
# =====================
logs/
*.log
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Mobile platforms
# =====================
# Android
*.keystore
local.properties

# iOS / macOS
Pods/
.symlinks/
DerivedData/
