/* Override Leaflet z-index to be below navbar */
:host ::ng-deep .leaflet-container {
  z-index: 0 !important;
}

:host ::ng-deep .leaflet-top,
:host ::ng-deep .leaflet-bottom {
  z-index: 10 !important;
}

#map {
  position: relative;
  z-index: 0;
}
